main {
  display: flex;
  justify-content: center;
}

form {
  color: yellowgreen;
  background-color: royalblue;
  display: inline-block;
  width: calc(30% - 20px);
  padding: 20px;
  font-weight: bold;
  text-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
}

fieldset {
  margin: 0;
}

label {
  display: block;
}

input,
select {
  width: 100%;
  box-sizing: border-box;
}

legend {
  font-weight: bolder;
}

button {
  outline: none;
  border: none;
  color: royalblue;
  background-color: yellowgreen;
  width: 100%;
  padding: 20px;
  font-weight: bolder;
  font-size: 100%;
  cursor: pointer;
  transition: 0.5s;
  text-shadow: white 2px 2px 2px;
}

button:hover {
  color: yellowgreen;
  background-color: royalblue;

  text-shadow: black 2px 2px 2px;
}
